.ak-module-2 .ak-module-featured,
.ak-module-2-tall .ak-module-featured,
.ak-module-2-wide .ak-module-featured{
    margin-bottom: 15px;
}

.ak-module-terms.badge a,
.ak-module-terms.inline_badge a {
    padding: 2px 10px;
}
.ak-block-module-center-elements .ak-module .ak-module-terms.badge {
    bottom: -10px;
}

.ak-menu-handler span:nth-child(3) {
  width: 50%;
}
